{% extends "base.html" %}

{% load static %}

{% block encabezado %}
<a href="{% url 'maestros_alta' %}">
    <img src="{% static 'images/agregar.png' %}" alt="Agregar" style="width: 30px;">
</a>
{% endblock %}
{% block contenido %}

<table class="w3-table-all w3-hoverable">
    <thead>
        <tr class="w3-dark-grey">
            <th>Nombre</th>
            <th>Escuela</th>
            <th>Sexo</th>
            <th>Fecha de Nacimiento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    {% for maestro in maestros %}
    <tr>
        <td>{{ maestro.nombre }}</td>
        <td>{{ maestro.escuela.siglas }}</td>
        {% if maestro.sexo == 2 %}
        <td>Hombre</td>
        {% elif maestro.sexo == 1 %}
        <td>Mujer</td>
        {% else %}
        <td>Otro</td>
        {% endif %}
        <td>{{ maestro.fecha_nacimiento }}</td>
        <td>
            <a href="{% url 'maestros_editar' maestro.id %}" style="text-decoration: none;">
                <img src="{% static 'images/editar.png' %}" alt="Editar" style="width:30px;">
            </a>
            <a href="{% url 'maestros_eliminar' maestro.id %}">
                <img src="{% static 'images/eliminar.png' %}" alt="Eliminar" style="width:30px;">
            </a>
        </td>
    </tr>

    {% endfor %}
</table>
{% endblock %}