{% extends "base.html" %}

{% load static %}

{% block encabezado %}
<a href="{% url 'alumnos_alta' %}">
    <img src="{% static 'images/agregar.png' %}" alt="Agregar" style="width: 30px;">
</a>
{% endblock %}
{% block contenido %}

<table class="w3-table-all w3-hoverable">
    <thead>
        <tr class="w3-dark-grey">
            <th>Nombre</th>
            <th>Escuela</th>
            <th>Maestro</th>
            <th>Sexo</th>
            <th>Fecha de Nacimiento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    {% for alumno in alumnos %}
    <tr>
        <td>{{ alumno.nombre }}</td>
        <td>{{ alumno.escuela.siglas }}</td>
        <td>{{ alumno.maestro.nombre }}</td>
        {% if alumno.sexo == 2 %}
        <td>Hombre</td>
        {% elif alumno.sexo == 1 %}
        <td>Mujer</td>
        {% else %}
        <td>Otro</td>
        {% endif %}
        <td>{{ alumno.fecha_nacimiento }}</td>
        <td>
            <a href="{% url 'alumnos_editar' alumno.id %}" style="text-decoration: none;">
                <img src="{% static 'images/editar.png' %}" alt="Editar" style="width:30px;">
            </a>
            <a href="{% url 'alumnos_eliminar' alumno.id %}">
                <img src="{% static 'images/eliminar.png' %}" alt="Eliminar" style="width:30px;">
            </a>
        </td>
    </tr>

    {% endfor %}
</table>
{% endblock %}